<!-- Title -->
<div class="row p-3 mt-3 mb-3 bg-light">
    <div class="col-md-12 text-center">
        <h3 class="text-center">Liste des adresses IP</h3>
    </div>

</div>


<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Adresse Ip</th>
            <th>Nombre de Hits http</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of adresses">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Adresse Ip</th>
            <th>Nombre de Hits http</th>
        </tr>
    </tfoot>
</table>